/* For the font-family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

/* to remove padding and margin of the body */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}
/*to take the main take full screen for flexbox*/
main {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

/*to adjust the image part according to screen*/
section.image-part {
  height: 100vh;
  width: 60%;
  max-width: 60%;
  position: relative;
  background-color: #e5e6fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-image: url('Object.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 90%;
  width: 90%;
}

section.login-part {
  height: 100vh;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2% 3%;
}
img {
  width: 70%;
}
a {
  display: inline;
  margin: 2%;
}
form {
  margin: 5% 0%;
  width: 70%;
}

input::placeholder {
  color: #adaeb0;
  font-size: 1rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  margin-bottom: 0px;
}
footer {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  width: 65%;
}
p {
  color: #6f6f6f;
  font-weight: bold;
}

.subheading {
  color: #6659e0;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0px;
}

.login-signup-buttons {
  display: flex;
  height: 5%;
  width: 28%;
  border-bottom: #e8e8e8 1px solid;
}
.login-link {
  color: #675be1;
  font-weight: bolder;
  border-bottom: #6659e0 2px solid;
}
.signup-link {
  margin-left: auto;
  color: #b3adf0;
  font-weight: bolder;
}

#Email_address {
  width: 100%;
  height: 60%;
  background-color: #f5f6f8;
  border-radius: 4px;
  border: #ecedee 2px solid;
  padding: 0%;
  padding-left: 5%;
}

#Password {
  margin: 7% 0%;
  width: 100%;
  height: 60%;
  background-color: #f5f6f8;
  border-radius: 4px;
  border: #ecedee 2px solid;
  padding-left: 5%;
}
.login-button {
  margin-top: 10%;
  width: 70%;
  height: 7%;
  font-size: 1.3rem;
  color: white;
  background-color: #665ae2;
  border-radius: 4px;
  border-style: solid;
  border-color: #665ae2;
}

.social-media {
  color: #3b3939;
  font-weight: bold;
}
